/* general classes */

#nx-app-main {
  max-height: 94vh;
  scrollbar-width: none;
}

.nexo-login-bg-container {
  width: 70%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #5b8fff29;
}

.register-form {
  margin: 0 auto;

  &.profile-mode {
    min-width: 80vw;
  }
}

.nx-btn-outline {
  background-color: transparent;
  border: 2px solid #5b8fff;
  color: #5b8fff;

  &:hover {
    background-color: #5b8fff;
    color: #ffffff;
  }
}

.nx-btn-disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

.nx-btn-lg {
  padding: 75rem 2rem;
  font-size: 1.25rem;
}

.nx-btn-md {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

#nx-chat-messages {
  background-image: url('/images/chat-back.png');
  background-size: contain;
  background-position: center;
}
  

.nx-posts, .nx-comments {
  margin-bottom: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  box-sizing: content-box;
  background-color: var(--primary-color);
  padding: 1rem;
  transition: background-color 0.3s, border 0.3s;
  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
  }
  &.reply {
    border-radius: 0 !important;
    border: none !important;
    &:hover {
      background-color: var(--primary-color);
    }

    .nx-post-avatar {
      &::after {
        content: '';
        position: absolute;
        top: 4.5rem;
        left: 2.5rem;
        width: 2px;
        height: 20%;
        background-color: var(--accent-color);
      }
    }
  }
}

@media (min-width: 768px) {
  #nx-chat {
    #nx-chat-info {
      display: none;
    }
  }
  .register-form {
    &.profile-mode {
      min-width: 60vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      button {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 767px) {
  #nx-chats {
    &.selected-chat {
      display: none;
    }
  }
  #nx-chat-container {
    &.selected-chat {
      grid-column: span 5 / span 5;
    }
  }
}

@media (max-width: 650px) {
  .nx-modal-content {
    padding: 1rem !important;
  }
  #nx-header {
    #nx-header-logo {
      display: block;
    }
  }
  #nx-sidebar {
    position: fixed;
    width: 100vw;
    height: 60px;
    bottom: 0;
    z-index: 1000;
    padding: 0 1rem;
    background-color: var(--primary-color);
    border-top: 2px solid var(--secondary-color);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);

    #nx-sidebar-logo {
      display: none;
    }
    #nx-sidebar-nav {
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding: 0;
      overflow: hidden;
      ul {
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;
        li {
          flex: 1;
        }
      }
    }
  }
}


