/* general classes */
.nexo-login-bg-container {
  width: 70%;
  height: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #5b8fff29;
}

.register-form {
  margin: 0 auto;

  &.profile-mode {
    min-width: 80vw;
  }
}

.nx-btn-outline {
  background-color: transparent;
  border: 2px solid #5b8fff;
  color: #5b8fff;

  &:hover {
    background-color: #5b8fff;
    color: #ffffff;
  }
}

.nx-btn-lg {
  padding: 75rem 2rem;
  font-size: 1.25rem;
}

.nx-btn-md {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.nx-posts {
  margin-bottom: 1.5rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.5rem;
  background-color: #030712;
  padding: 1rem;
  &:hover {
    box-shadow: 0 0 10px var(--accent-color);
  }
}

@media (min-width: 768px) {
  .register-form {
    &.profile-mode {
      min-width: 60vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      button {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}


