:root {
  --background-color: #1A4199;
  --text-color: #EFF6FF;
  --primary-color: #030712;
  --secondary-color: #2c2f36;
  --accent-color: #2B7FFF;
}

.nx-primary-bg {
  background-color: var(--primary-color);
}

.nx-primary-text {
  color: var(--text-color);
}

.nx-accent-bg {
  background-color: var(--accent-color);
}

.nx-accent-text {
  color: var(--text-color);
}

.nx-secondary-bg {
  background-color: var(--secondary-color);
}

.nx-secondary-text {
  color: var(--text-color);
}

.nx-background {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ui classes */

.nx-btn {
  @apply cursor-pointer rounded-md bg-[#1A4199] px-3 py-1.5 hover:bg-[#2853c3] text-sm/6 font-semibold text-white;
}

.nx-card {
  @apply rounded-lg bg-gray-800 p-6 shadow-md;
}

.nx-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  @apply absolute bottom-0 top-0 left-0 right-0 inset-0 flex items-center justify-center;
}

.nx-modal {
  @apply fixed z-50 rounded-lg shadow-lg;
}

.nx-modal-content {
  @apply p-6 rounded-lg shadow-lg;
}

.nx-modal-title {
  @apply text-xl font-bold px-2 py-2;
}

.nx-modal-footer {
  @apply flex justify-end mt-4;
}

@import "./app.scss";

@import "tailwindcss";